#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 100px;
    border-radius: 10px;
}
#textbox
{
    width: 300px;
    background-color: lightgrey;
}

body{

    background-color: fcba03;
}
